DIFY_API_BASE_URL=http://服务器IP/v1
DIFY_API_KEY=app-xxxxxxxx
DIFY_REQUEST_TIMEOUT=120000
DIFY_MAX_ELAPSED_TIME=60
DIFY_MAX_TOTAL_TOKENS=10000
DIFY_MAX_TOTAL_STEPS=20

TEST_USER_ID=10001
TEST_DOCTOR_ID=3
TEST_OTHER_DOCTOR_ID=4
TEST_QUERY=医生您好，我最近餐后血糖偏高。
TEST_FOLLOW_UP_QUERY=那我平时饮食和运动需要注意什么？
